* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  overflow: hidden;
  font-family: Arial, sans-serif;
  background: #000;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrap {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
}

.wrap span {
  position: absolute;
  width: 30px;
  height: 30px;
  background: #4fc3dc;
  border-radius: 50%;
  box-shadow: 0 0 0 10px #4fc3dc33, 0 0 50px #4fc3dc, 0 0 100px #4fc3dc;
  animation: animated 15s linear infinite;
}

@keyframes animated {
  0% {
    transform: translate(var(--translateX), var(--translateY))
      scale(var(--scale));
  }
  100% {
    transform: translate(var(--finalTranslateX), var(--finalTranslateY))
      scale(var(--finalScale));
  }
}

.wrap span:nth-child(even) {
  background: #ff2d75;
  box-shadow: 0 0 0 10px #ff2d7544, 0 0 50px #ff2d75, 0 0 100px #ff2d75;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 10px 0;
  backdrop-filter: blur(5px);
  z-index: 1;
}

.social-icons a {
  font-size: 20px;
  color: #fff;
  margin: 0 10px;
  text-decoration: none;
}

.social-icons a:hover {
  color: #00f;
}

.glass-box {
  border-radius: 10px;
  width: 80%;
  max-width: 500px;
  padding: 20px;
  text-align: center;
  backdrop-filter: blur(5px);
  z-index: 1;
}

.glass-box h1 {
  text-transform: uppercase;
}

.download-button {
  margin: 20px;
}

.download-button a {
  display: inline-block;
  padding: 10px 20px;
  background-color: #fff;
  color: #525151;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  text-transform: uppercase;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.download-button a:hover {
  background-color: #525151;
  color: #fff;
}
